// @import url(https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic);

body {
  // color: $color-grey-dark;
  font: {
    // family: $font-primary;
    size: rem(14);
    weight: 400;
  }
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}
